body{
  background-color: rgba(25, 22, 22, 0.759) !important;
}
h1{
    margin: 0 10% 0 5%;
}
.navbar{
    margin: 0% 5% 0 70%;
}

 .nav-link {
 color: white !important;
}
.navbar-toggler{
  background-color: rgb(11, 38, 61) !important;
}
img{
  background-color: transparent;
  
}
.information{
  align-items: center; 
display: flex;
}
.name{
 text-align: center; /* Horizontally center the text */
  margin: 0 10%;
  margin-bottom: 0;
}








