@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@100&display=swap");

.header-container {
  background-color: #758e99;
  padding: 10px;
  display: flex;
  align-items: center;
}

.navbar {
  margin: 0% 5% 0 60%;
}

.nav-link {
  border-radius: 20px;
  transition: box-shadow 0.3s, font-family 0.3s;
  color: rgb(0, 0, 0) !important;
  font-size: 25px;
  font-family: serif;
}

.nav-link.active {
  border-radius: 20px;
  box-shadow: 0 0 5px #4e4b51;
  font-family: serif;
  font-weight: bold;
}

.nav-link:hover {
  border-radius: 20px;
  transition: box-shadow 0.3s, font-family 0.3s;
  box-shadow: 0 0 5px #4e4b51;
}

.navbar-toggler {
  background-color: #bec3cb;
}

.navbar-nav {
  list-style: none;
  display: flex;
}

li {
  margin-right: 10px;
}

@media (max-width: 768px) {
  .navbar {
    margin-left: 70%;
  }
}

@media (max-width: 768px) {
  .header-container {
    height: 25%;
  }
}
.container-row {
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.profile-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.name {
  font-weight: 900;
  color: #36414d;
  font-size: 40px;
  font-family: "Kaushan Script", cursive;
  margin-top: 1%;
  margin-bottom: 20px;

}

.portfolio {
  font-weight: 500;
  color: #36414d;
  font-family: "Kaushan Script", cursive;
  margin-bottom: 10px;
  font-size:30px;
}
.image1 {
    -webkit-animation: morph 8s ease-in-out infinite;
    animation: morph 8s ease-in-out infinite;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid  #36414d;
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    height: 20rem;
    position: relative;
    transition: all 1s ease-in-out;
    width: 20rem;
}
@keyframes morph {
    0% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    50% {
      border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    }

    100% {
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
  }

.about {
  width: 70%;
  padding: 20px;
  margin-top: 20px;
  margin-left: 5%;
  border-radius: 25px;
  font-size: 25px;
  height: 100%;
}

.cv {
  border-radius: 3%;
  background-color: transparent;
}

/* Media query for screens with a maximum width of 768px (mobile devices) */
@media (max-width: 768px) {
  .container-row {
    flex-direction: column;
    /* Change to a column layout on mobile */
    align-items: center;
    /* Center items vertically on mobile */
  }

  .profile-name {
    margin-bottom: 20px;
    /* Add margin-bottom on mobile for spacing */
  }
  .portfolio {
    text-align: center;
    position: relative;
    width: 400px;
    overflow: hidden;
    font-size: 30px;
  }

  .name {
    margin-top: 10%;
    font-size: 50px;
    /* Decrease font size for mobile */
  }

  .image1 {
    width: 150px;
    /* Decrease image size for mobile */
    height: 150px;
  }

  .about {
    width: 100%;
  }
}

.container-row-skills {
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}

.skills {
  font-weight: bold;
  text-align: center;
}

.tech-skills {
  font-size: 15px;
  margin-top: 3%;
  width: 70%;
  max-width: 450px;
  border-radius: 10px;
}

.tech-skills p {
  margin-bottom: 10px;
  color: gray;
}

.skill-item {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.web-app,
.mobile-app,
.other-app {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  width: 30px;
  height: 30px;
  margin: 15px;
}

figcaption {
  font-size: 12px;
  text-align: center;
  font-weight: 300;
}

@media (max-width: 768px) {
  .container-row-skills {
    justify-content: space-evenly;
    flex-direction: column;
  }

  .tech-skills {
    margin-top: 10%;
    width: 100%;
    max-width: 4500px;
  }
}

.container-row-projects {
  display: flex;
  flex-direction: row;
}

.project-description {
  width: 50%;
  height: 100%;
  padding: 20px;
  margin-bottom: 20px;
}

.container-project-image {
  width: 50%;
  padding: 20px;
  margin-bottom: 20px;
  text-align: center;
  /* Center the buttons on mobile */
}

.project-img {
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  width: 100%;
  height: auto;
  /* Automatically adjust height to maintain aspect ratio */
}

button {
  display: inline-block;
  margin: 5px;
}

/* Media query for screens with a maximum width of 768px (mobile devices) */
@media (max-width: 768px) {
  .container-row-projects {
    flex-direction: column;
    /* Change to a column layout on mobile */
  }

  .project-description,
  .container-project-image {
    width: 100%;
    /* Make both sections occupy the full width on mobile */
  }
}

.projects {
  font-weight: bold;
  text-align: center;
}

footer {
  background-color: #36414d;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

.contact-info {
  color: #000001;
  text-align: center;
  font-weight: bold;
  margin-bottom: 3%;
}

.social-links {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
}

.icon1,
.icon2,
.icon3,
.icon4,
.icon5 {
  fill: white;
}

.social-links svg {
  width: 40px;
  height: 40px;
}

hr {
  width: 80%;
}

.description {
  width: 100%;
  font-family: sans-serif;
  color: white;
  padding: 20px;
  text-align: center;
  top: 3%;
}
