
 @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Roboto:wght@100&display=swap');
 
 .header-container {
  background-color: #758E99;
  padding: 10px;
  display: flex;
  align-items: center;
}
.navbar {
  margin: 0% 5% 0 60%;
}
.nav-link {
  color: rgb(0, 0, 0) !important;
  font-size: 20px;
}
.navbar-toggler {
  background-color: #BEC3CB;
}
.navbar-nav {
  list-style: none;
  display: flex;
}
li {

  margin-right: 10px;
}
@media (max-width: 768px) {
  .navbar {
    margin-left: 70%;
    margin-right: auto;
  }
}

@media (max-width: 768px) {
  .header-container {
    height: 25%;
  }
}

.container-fluid {
  background-color: #D7DCE0;
  padding: 30px;
}

.container-row {
  justify-content: space-between;
  display: flex;
  align-items: center;
}
.profile-name {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 40px;
  font-family: 'Kaushan Script', cursive;
  margin-top: 5px; /* Adjusted the margin-top */
  margin-bottom: 20px;
}

.portfolio {
  font-family: 'Kaushan Script', cursive;
  margin-bottom: 20px;
}

.image1 {
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 10%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.about {
  width: 65%; /* Adjusted the width */
  margin-left: 30px; /* Added some margin on the left for spacing */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  padding: 20px; /* Added some padding for spacing */
}
@media (max-width: 768px) {
  .container-row {
    padding: 0; /* Remove padding to fit content in full width */
  }

  .name {
    font-size: 30px; /* Decrease font size for mobile */
  }

  .image1 {
    width: 150px; /* Decrease image size for mobile */
    height: 150px;
  }
}
.container-row-skills{
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: baseline;
}
.skills{
  font-weight: bold;
  text-align: center;
}
.Mobile-app, 
.web-dev, 
.other{
   font-weight: bold;
    width: 100%;
    max-width: 400px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transition: transform 0.3s, background-color 0.3s, color 0.3s
}

.Mobile-app:hover,.web-dev:hover,.other:hover{
  transform: translateY(-10px);
  background-color: var(--clr-accent);
  color: var(--clr-light);
}
@media (max-width: 768px) {
  .container-row-skills {
    justify-content: center; /* Center the boxes horizontally */
  }

  .Mobile-app,
  .web-dev,
  .other {
    width: 90%; /* Reduce the width to 90% on smaller screens */
    max-width: none; /* Remove the maximum width on smaller screens */
  }
}
.container-row-projects{
  display: flex;
  justify-content: space-evenly;
}
.project-description{

    width: 50%;
    height: 100%;
  padding: 20px;
  margin-bottom: 20px;
 
}
.projects{
  font-weight: bold;
  text-align: center;
  margin-bottom: 5%;
}
.container-row-contact{
  text-align: center;
}
.contact{
  text-align: center;
  margin: 5% 0 0 0;
}
footer{
  display: flex;
text-align: center;
}
.contact{
  font-size: large;
}
